#page-wrapper {
  background-color: #F1F1F1 !important;
}

.review-icon {
            font-size: 24px; /* Adjust the size as needed */
            color: #FFD700; /* Adjust the color as needed (gold/yellow) */
        }

.product_image {

width: 200px !important;
height: 100px !important;


}

#admin_sidebar .form-group {

background-color: #fff;
padding: 8px;

}

#admin_sidebar .form-group hr {

margin-top: 10px;
margin-bottom: 10px;


}

#admin_sidebar .btn{

width: 49%;

}

